* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #00c3cd;
  margin-top: 15px;
  padding: 15px;
  gap: 20px;
}

.post__btns {
  display: flex;
  gap: 10px;
}

.post-enter {
  transform: translateX(500px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-500px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin: 20px 0;
  display: flex;
  gap: 2px;
}

.page {
  padding: 10px;
  border: 1px solid #00c3cd;
  cursor: pointer;
}

.page__current {
  background-color: #00c3cd;
}

.navbar {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #adadad;
}

.navbar__links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.navbar__links > * {
  text-decoration: none;
  color: #000;
}
